lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
node_modules
*.idea/*
*.orig
coverage
dist
*~
data/*.json
config/config.json
container/test/testconfig.sh
container/test/node_modules
container/test/package-lock.json
container/script/testsensor/node_modules
container/script/testsensor/package-lock.json
