[Unit]
Description=iotkit-agent
After=network.target

[Service]
ExecStart=/usr/bin/iotkit-agent
Restart=always
RestartSec=10s
Environment="NODE_ENV=production" "IOTKIT_CONF=/etc/iotkit-agent"

[Install]
WantedBy=multi-user.target
