<html>
<head>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script>
		var socket = io.connect('http://127.0.0.1:9009');
		socket.on('agent-logs', function(data) {
			$("<div />").text(data).prependTo("#logs");
			var position = $("#logs").get(0).scrollHeight;
			$("#logs").animate({
				scrollTop : position
			}, 500);
		});
	</script>
	<style>
	body { 
		background-color: #fff;
		margin: 0;
	}
	#logs {
		height: 100%; 
		width: 95%; 
		font-family: "Lucida Console", Monaco, monospace; 
		font-size: 0.8em;
		background-color: #fff; 
		padding: 5px; 
		margin: 0;
	}
	#logs div {
		padding: 2px;
	}
	</style>
</head>
<body>
	<div id='logs'></div>
</body>
</html>