{
	"data_directory": "./data",
	"listeners": {
		"rest_port": 8000,
		"udp_port": 41234,
		"tcp_port": 7070
	},
	"receivers": {
		"udp_port": 41235,
		"udp_address": "0.0.0.0"
	},
	"logger": {
		"LEVEL": "info",
		"PATH": "/tmp/",
		"MAX_SIZE": 134217728
	},
	"default_connector": "rest+ws",
	"connector": {
		"rest": {
			"host": "localhost",
			"port": 80,
			"protocol": "http",
			"strictSSL": false,
			"timeout": 30000,
			"proxy": {
				"host": false,
				"port": false
			}
		},
		"ws": {
			"host": "localhost",
			"port": 5000,
			"minRetryTime": 2500,
			"maxRetryTime": 600000,
			"testTimeout": 40000,
			"pingPongIntervalMs": 30000,
			"enablePingPong": true,
			"secure": false,
			"proxy": {
				"host": false,
				"port": false
			}
		}
	}
}
